<!-- Off Canvas Navigation
================================================== -->
<div class="navmenu navmenu-default navmenu-fixed-left offcanvas" style="background: linear-gradient(rgba(38, 41, 42, 0.72), rgba(38, 41, 42, 0.94)), url({{#if @blog.cover}}{{@blog.cover}}{{else}}http://lorempixel.com/400/700{{/if}});background: -webkit-linear-gradient(rgba(38, 41, 42, 0.72), rgba(38, 41, 42, 0.94)), url({{#if @blog.cover}}{{@blog.cover}}{{else}}http://lorempixel.com/400/700{{/if}});">
    <div class="menu-content">    
        <div class="menu-area">    
            <div class="author-info"></div>
            <div id="main-navigation">    
                <ul class="nav navmenu-nav"> <!--- Menu -->
                    {{navigation}}
                </ul><!--- End Menu -->
            </div> <!--- main-navigation -->
        </div>
        <div class="text-center header-logo">
            {{#if @blog.logo}}<a href="{{@blog.url}}" class="logo"><img src="{{@blog.logo}}" alt="{{@blog.name}}"></a>{{/if}}
            <script>
                if (typeof( Copyright_Text ) != "undefined") {
                    document.write('<p class="copyright">'+Copyright_Text+'</p>');
                }else{
                    document.write('<p class="copyright">SoftHopper &copy; 2016</p>');
                }
            </script>
        </div>
    </div>
</div> <!--- End Off Canvas Side Menu --> 