{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! This bellow code is for loading header aria}}
{{> "header"}}

{{^is "paged"}}
<!-- Fullscreen Page 
================================================== -->
<div id="fullscreen-main" class="fullscreen home"> 
    <div id="overlay" class="bg"></div> 
    <div id="home" class="container"> 
        <div class="row">
            <div id="left" class="col-sm-12 col-md-12"> <!--- Left Content -->
                <div id="menu-main" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
                    <div class="menu-wrap">
                        <i class="fa fa-bars"></i><span>Menu</span>
                    </div>
                </div> <!-- /#menu -->
                <div class="slider-control">
                    <div class="pull-right text-right controls">
                        <a href="#homeslider" role="button" data-slide="prev"><span class="fa fa-arrow-left"></span></a>
                        <a href="#homeslider" role="button" data-slide="next"><span class="fa fa-arrow-right"></span></a>
                    </div>
                </div>
                <div id="page-detail" class="text-center">
                    <div id="homeslider" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox"><!-- Wrapper for slides -->
                            <script>
                                if (typeof( Home_slider ) != "undefined") {
                                    for ( var key in Home_slider ) {                            
                                        document.write('<div class="item"><div class="carousel-caption"><h4>'+key+'</h4><h2>'+Home_slider[key]+'</h2></div></div>');
                                    }
                                    $( ".carousel-inner > .item:eq( 0 )" ).addClass( "active" ); 
                                }
                            </script>  
                        </div>
                    </div>
                    <div class="space"></div>
                    <ul class="tags homepage_button">
                        <script>
                            if (typeof( Home_Page_Menu ) != "undefined") {
                                for ( var Url in Home_Page_Menu ) {                            
                                    document.write('<li><a href="' + Home_Page_Menu[Url] + '" class="btn">'+ Url + '</a></li>');
                                } 
                            } 
                        </script>
                    </ul>
                    <div class="space"></div>
                    <h6>Follow Me</h6>
                    <ul class="social-links">
                        <script> 
                            if (typeof( Home_Social ) != "undefined") {                   
                                for ( var Url in Home_Social ) {                            
                                    document.write("<li><a href='" + Home_Social[Url] + "'><i class='fa fa-" + Url + "'></i></a></li>");
                                } 
                            } 
                        </script>  
                    </ul>
                </div>
            </div> <!--- End Left Content -->
        </div> <!-- End Row -->
    </div> <!-- End Container -->
</div> <!--- End Fullscreen Page -->
{{/is}}


<!-- Fullscreen Page 
================================================== -->
<div id="fullscreen-blog" class="fullscreen home blog {{^is "paged"}}hidden {{/is}}"> 
    <div class="bg"></div>
    <!-- Top Navigation Bar -->
    <div class="blog-area">
        <nav id="top-nav" class="navbar navbar-default">
            <div class="container">
                <div class="pull-left text-left">
                    <div id="menu" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
                        <div class="menu-wrap">
                            <i class="fa fa-bars"></i><span>Menu</span>
                        </div>
                    </div> <!-- /#menu -->
                </div>
                <div class="pull-right text-right">
                    <div id="more-page">
                        <ul class="pagination">
                            <li><a href="{{@blog.url}}">&#x21d0; トップへ戻る</a></li>
                            {{! Previous/next page links - displayed on every page }}
                            {{pagination}}
                        </ul>
                    </div>
                </div>            
            </div>
        </nav> <!-- End Top Navigation Bar -->

        <div id ="blog">
            <div class="container">       
                <div id="content">
                    <div class="text"> <!--  Text -->
                        <!-- Start Blog Posts --> 
                        <div id="posts" class="portfolio">
                            <div class="row">
                                {{#foreach posts}}
                                    <div class="col-lg-4 col-md-4 col-sm-6 item">
                                        <div class="item-content">      
                                            <div class="details">
                                                <a href="{{url}}"><h4>{{title}}</h4></a>
                                                <span class="meta-author">Posted In&nbsp;:&nbsp;{{tags}}</span>
                                            </div>
                                            <a href="{{url}}">
                                                <div class="image-area">
                                                    <img src='{{#if image}}{{image}}{{else}}{{asset "/img/no-thumb.png"}}{{/if}}' alt='{{title}}' class="img-responsive" width="590" height="590"/>
                                                </div> <!-- /.image-area -->
                                            </a>
                                        </div> <!-- /.item-content -->
                                    </div> <!-- /.item -->
                                {{/foreach}}
                            </div> 
                            <div class="clearfix"></div>
                        </div> <!-- /.blog --> 
                    </div><!--  /.text -->
                </div> <!--- /.content-->
            </div> <!-- /.container -->
        </div> <!-- /#blog -->
    </div> <!--/.blog-area -->
    <!-- Navigation Bar -->
	<div id="mobile-blog">
		<div class="container">
			
		</div> <!-- /.container -->
	</div> <!-- /#mobile-blog -->
</div> <!--- End Full Screen Blog Post Page -->


<script>
	$('#posts').clone().appendTo('#mobile-blog .container');       
	$('#top-nav').clone().prependTo('#mobile-blog .container');       
    if ( blog_load === 'blog'){
        $('#fullscreen-main').addClass('hidden');
        $('.navmenu-fixed').css('display', 'none');
        $('#fullscreen-blog').removeClass('hidden');
    }
</script>

    