{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! This bellow code is for loading header aria}}
{{> "header"}}

{{! This code to show Post in single page }}

{{#post}}
<!-- Fullscreen Page 
================================================== -->
<div id="fullscreen">
    <div id="sidebar" class="blog blog-single">
        <div class="featured-img"><img src="{{#if image}}{{image}}{{else}}{{asset "/img/no-thumb.png"}}{{/if}}" alt="{{title}}"></div> <!-- featured image-->
    </div>
    <div class="container" id="blog-single-page">
        <div class="row">
            <div id="left" class="col-md-6">
                <div id="menu" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
                    <div class="menu-wrap">
                        <i class="fa fa-bars"></i><span>Menu</span>
                    </div>
                </div> <!-- /#menu -->
                <div id="page-detail">
                    <h2>{{title}}</h2>
                    <div class="space"></div>
                    <h6>Share This:</h6>
                    <ul class="social-links">
                        <script type="text/javascript">
                            function acronymPopupWindow(url, title, w, h) {
                                var left = (screen.width / 2) - (w / 2);
                                var top = (screen.height / 2) - (h / 2);
                                return window.open(url, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
                            } 
                        </script>
                        <li><a href="https://twitter.com/home?status={{url absolute='true'}}" onclick="acronymPopupWindow(this.href, 'facebook-share', 580, 400); return false;"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute='true'}}" onclick="acronymPopupWindow(this.href, 'facebook-share', 580, 400); return false;"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://plus.google.com/share?url={{url absolute='true'}}" onclick="acronymPopupWindow(this.href, 'google-plus-share', 550,530); return false;"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{url absolute='true'}}" onclick="acronymPopupWindow(this.href, 'linkedin-share', 550,530); return false;"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div> <!-- /#page-detail -->
            </div> <!-- /#left -->

            <div id="right" class="col-md-6">
                <div id="post">
                    <div class="clearfix"></div>
                    <div class="text">
                        <div class="clearfix"></div>
                        {{content}}
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div> <!-- /#post -->
            </div><!---#right -->
        </div> <!-- /.row -->
    </div> <!-- /.Container -->
</div> <!--- /#fullscreen-->
{{/post}}

<!-- Mobile Page 
================================================== -->
{{#post}}
<div id="mobile-single-page">
    <div class="left-responsive">    
        <div class="container">
            <div class="row" id="mobile-row-left"></div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /.left-responsive -->    
    <div class="right-responsive">    
        <div class="container">
            <div class="row" id="mobile-row-right">
                <div class="col-md-12 post-mobile"></div>
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /.left-responsive -->
</div> <!-- /#mobile-single-page -->

<script>
    $('#sidebar.blog-single').clone().prependTo('#mobile-single-page');
    $('#blog-single-page #left').clone().prependTo('#mobile-single-page #mobile-row-left');
    $('#blog-single-page #right #post .text').clone().appendTo('#mobile-single-page #mobile-row-right .col-md-12.post-mobile');
</script>
{{/post}}
