{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! This bellow code is for loading header aria}}
{{> "header"}}

<!-- Fullscreen Page 
================================================== -->
<div id="tag-template">
    <div id="sidebar" class="blog">
        <div class="featured-img"><img src="{{#if tag.image}}{{tag.image}}{{else}}{{asset "/img/no-thumb.png"}}{{/if}}" alt="{{title}}"></div> <!-- featured image-->
    </div>
    <div class="container"> <!-- Start Container -->
        <div class="row"> <!-- Start Row -->
            <div id="left" class="col-md-6"> <!--- Left Content -->
                <div id="menu" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
                    <div class="menu-wrap">
                        <i class="fa fa-bars"></i><span>Menu</span>
                    </div>
                </div> <!-- /#menu -->
                <div id="page-detail">
                    <h2>{{tag.name}}</h2>
                    <p class="total-post-count">Total {{pagination.total}} Post</p>
                    {{#if tag.description}}
                        <p class="tag-destription">{{tag.description}}</p>
                    {{/if}}
                    <h6>Share This:</h6>
                    <ul class="social-links">
                        <script type="text/javascript">
                        function acronymPopupWindow(url, title, w, h) {
                        var left = (screen.width / 2) - (w / 2);
                        var top = (screen.height / 2) - (h / 2);
                        return window.open(url, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
                        }
                        </script>
                        <li>
                            <a href="https://twitter.com/home?status={{url absolute='true'}}" onclick="acronymPopupWindow(this.href, 'facebook-share', 580, 400); return false;"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute='true'}}" onclick="acronymPopupWindow(this.href, 'facebook-share', 580, 400); return false;"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/share?url={{url absolute='true'}}" onclick="acronymPopupWindow(this.href, 'google-plus-share', 550,530); return false;"><i class="fa fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"><i class="fa fa-pinterest"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{url absolute='true'}}" onclick="acronymPopupWindow(this.href, 'linkedin-share', 550,530); return false;"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div> <!--- End Left Content -->

            <div id="right" class="col-md-6"> <!--- Right Content -->
                <div id="post-tag" class="mCustomScrollbar"><!--- Start Post Scroll Wrapper-->
                    <div class="text"><!--- Start Text Wrapper-->
                        <div class="row"><!--- Start Text Wrapper-->
                            <div class="clearfix"></div>
                            <div class="tag-content" id="tag-content-wrap">
                                {{#foreach posts}}
                                    <div class="col-sm-12 col-md-12 item">
                                        <div class="item-content">                                            
                                            <div class="image-area">
                                                <img src="{{#if image}}{{image}}{{else}}{{asset "/img/no-thumb.png"}}{{/if}}" alt='{{title}}'/>
                                            </div>
                                            <div class="details">
                                                <a href="{{url}}"><h4>{{title}}</h4></a>
                                                <span class="meta-author">Posted In&nbsp;:&nbsp;{{tags}}</span>
                                            </div>
                                        </div> <!-- /.portfolio-container -->                                        
                                    </div>  <!-- /.item -->
                                {{/foreach}}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div><!--- end Post Scroll Wrapper-->
            </div><!--- End Right Content -->
        </div> <!-- end Container -->
    </div> <!-- End Container -->
    <!-- Navigation Bar -->
    <nav id="footer-nav" class="home navbar navbar-default navbar-fixed-bottom" role="navigation">
        <div class="container">
            <div class="pull-left text-left">
            </div>
            <div class="pull-right text-right">
                <nav id="more-page">
                    <ul class="pagination">
                        <li><a href="{{@blog.url}}">&#x21d0; Back To Homepage</a></li>
                        {{! Previous/next page links - displayed on every page }}
                        {{pagination}}
                    </ul>
                </nav>
            </div> 
        </div>
    </nav>
</div> <!--- End Full Screen Blog Post Page -->

<!-- Mobile Device Portfolio -->
<div id="tag-two-mobile">
    <div id="tag-content-top">
        <div class="tag-content-area">        
            <div class="container">
                <div class="row">
                    <div class="col-md-12"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" id="tag-mobile-wrap"></div>
    </div>
    <div class="container">
        <div class="text-center">
            <nav id="more-page">
                <ul class="pagination">
                    <li><a href="{{@blog.url}}">&#x21d0; Back To Homepage</a></li>
                    {{! Previous/next page links - displayed on every page }}
                    {{pagination}}
                </ul>
            </nav>
        </div> 
    </div>
</div>
<!-- End Mobile Device Portfolio -->
<script>
    $('#menu').clone().appendTo('#tag-content-top .container .row .col-md-12');
    $('#page-detail').clone().appendTo('#tag-content-top .container .row .col-md-12');
    $('#sidebar .featured-img').clone().prependTo('#tag-content-top');
    $('#post-tag .text').clone().appendTo('#tag-mobile-wrap');
</script>
