---
import { type CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";

const posts = (await getCollection("posts")).sort(
  (a, b) => Date.parse(b.data.date) - Date.parse(a.data.date)
);
type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
---

<div
  class="mx-auto mt-16 grid max-w-2xl auto-rows-fr grid-cols-1 gap-8 sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-3"
>
  {
    posts.slice(0, 3).map((post) => (
      <article class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl bg-gray-900 px-8 pb-8 pt-80 sm:pt-48 lg:pt-80">
        <img
          src={post.data.image}
          alt=""
          class="absolute inset-0 -z-10 h-full w-full object-cover"
        />
        <div class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/40" />
        <div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10" />

        <div class="flex flex-wrap items-center gap-y-1 overflow-hidden text-sm leading-6 text-gray-300">
          <time
            datetime={post.data.date}
            class="mr-8"
          >
            {post.data.date}
          </time>
          <div class="-ml-4 flex items-center gap-x-4">
            <svg
              viewBox="0 0 2 2"
              class="-ml-0.5 h-0.5 w-0.5 flex-none fill-white/50"
            >
              <circle
                cx="1"
                cy="1"
                r="1"
              />
            </svg>
            <div class="flex items-center gap-x-2.5">
              <img
                src={post.data.profilepic}
                alt=""
                class="h-6 w-6 flex-none rounded-full bg-white/10"
              />
              {post.data.author}
            </div>
          </div>
        </div>
        <h3 class="mt-3 text-lg font-semibold leading-6 text-white">
          <a
            href={`/blog/${post.slug}`}
            class="text-accent no-underline"
          >
            <span class="absolute inset-0" />
            {post.data.title}
          </a>
        </h3>
      </article>
    ))
  }
</div>
