---
import { type CollectionEntry } from "astro:content";
type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
---

<article class="relative isolate flex flex-col gap-8 lg:flex-row">
  <div
    class="relative aspect-[16/9] sm:aspect-[2/1] lg:aspect-square lg:w-64 lg:shrink-0"
  >
    <img
      src={post.data.image}
      alt=""
      class="absolute inset-0 h-full w-full rounded-2xl bg-gray-50 object-cover"
    />
    <div
      class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"
    >
    </div>
  </div>
  <div>
    <div class="text-xs">
      <time
        datetime="2020-03-16"
        class="text-gray-500"
      >
        {post.data.date}
      </time>
      {
        post.data.tags.map((tag) => (
          <span class="relative z-10 rounded-full bg-gray-50 px-2 py-1.5 font-medium text-gray-600 hover:bg-gray-100">
            {tag}
          </span>
        ))
      }
    </div>
    <div class="group relative max-w-xl">
      <h3
        class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600"
      >
        <a href={`/blog/${post.slug}`}>
          <span class="absolute inset-0"></span>
          {post.data.title}
        </a>
      </h3>
      <p class="mt-5 text-sm leading-6 text-gray-600">
        {post.data.description}
      </p>
    </div>
    <div class="mt-6 flex border-t border-gray-900/5 pt-6">
      <div class="relative flex items-center gap-x-4">
        <img
          src={post.data.profilepic}
          alt=""
          class="h-10 w-10 rounded-full bg-gray-50"
        />
        <div class="text-sm leading-6">
          <p class="font-semibold text-gray-900">
            <span class="absolute inset-0"></span>
            {post.data.author}
          </p>
        </div>
      </div>
    </div>
  </div>
</article>
